.App {

}
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 100;
  z-index: 1;
}
.nav_flex {
  padding: 0px;
  margin: 0px;
  width :100%;
  display : flex;
  justify-content: space-around; 
  flex-wrap: wrap;
}



.nav_logo {
  flex: 1;
  background: rgb(0, 0, 60);

}
.nav_list_items {
  flex: 2;
  padding-right: 50px;
  padding-top: 10px;
  margin: 0px;
  background: rgb(0, 0, 60);

}

.nav_ul {
  display : flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nav_ul .nav_link , .nav_ul li {
  padding: 5px;
  color: white;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
  
}

.nav_btn {
  padding: 2px 10px; 
  font-weight: 500;
  border-radius:5px;
  background :white;
  color: black;
  transition:all 0.5s;
}


.nav_btn:hover {
box-shadow: 2px 2px 2px blue;
color: red;
}


.nav_ul .nav_link:hover , .nav_ul li:hover  {
  color: red;
  text-shadow: 1px 1px 1px red;

}

.log_div {
  width: 100px;
  padding-left: 50px;
}
.logo_img {
  width: 150px;
}



.main-header02 > div {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px){
  .main-header {
    display: none;
  }
  .logo_img {
    width : 100px
  }
  .main-header02  {
    background-color: rgb(0, 0, 60);
  }
}


@media (min-width: 768px){
  .main-header02 {
    display: none;
    
  }
  
}

/* -----------------------------------------------footer-container--------------------------------------- */

.footer_parent_container {
  width: 100%;
  background-color:rgb(0, 0, 60);
  padding: 0px;
  margin: 0px;
  font-size: 1.5rem;
}
.footer-container {
  margin-top: 100px;
  width: 100%;
  background-color: rgb(0, 0, 60);
  color: white;
}
.footer-container .logo_img {
  width: 250px;
}


.footer-container ul li {
list-style-type: none;
padding: 5px;
 transition: 0.3s;
font-family: 'Times New Roman', Times, serif;
cursor: pointer;
}

.footer-container .ul1 li button {
  padding: 5px 30px;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 5px ;
  background-color: black;
  color: red;
  box-shadow:5px 5px 5px rgb(55, 55, 55);

}
.footer-container .fa {
  padding-right: 10px;
  font-size:1rem;
}


.footer-container ul li:hover {
  color: red
}

.footer-container .ul1 {
  font-size: 1rem;
}

.footer-container .ul2 , .footer-container .ul3  {
 font-size: 1rem; 
}
.footer-container .ul2 .title_ , .footer-container .ul3  .title_ {
  font-size: 1.5rem
}

.footer-container ul li button:hover {
  color: black;
  background-color: white;
}

.footer_last_div {
  display: flex;
  justify-content: space-between;
}

.footer_last_chid {
  padding: 0px 30px 30px 50px;
}

.footer_last_chid .fa, .footer_last_chi .fa-facebook-official {
    padding: 10px;
    font-size: 25px;
    transition: all 0.3s;
    color: grey
}


.footer_last_chid .fa:hover  {
-webkit-text-fill-color: blueviolet;
font-size: 30px;
cursor: pointer;
}
.footer_last_chid2 {
  font-size : 0.7rem;
}

/* ----------------------------drower */

.MuiTypography-body1 {
  font-size: 1rem
}

.MuiPaper-root ul li:hover  {
  background-color: rgb(0, 0, 60);
  color: white
}